<div id="message-{{id}}" class="comment">
    <strong style="line-height:2;" class="comment-author">{{username}} &ensp;&ensp;&ensp;&ensp; </strong>
    <span class="comment-date">{{formatDate createdAt}}</span>
    <div style="font-family:'Garamond',serif; font-size: 16px;" class="comment-text">{{text}}</div>
    <br>
</div>