	<div class="content">
		{{#each results}}
			<div class = "cards" >
				<img style="width:150px;" src = "/{{this.thumbnail}}" alt = "">
				<p><strong style="font-family:'Georgia',serif; font-size: 14px;">Title:</strong> {{this.title}}</p>
				<p><strong style="font-family:'Georgia',serif; font-size: 14px;">Description:</strong> {{this.description}}</p>
				<a style="text-decoration:underline; color:blue" href="/posts/{{this.id}}"><strong style="font-family:'Georgia',serif; font-size: 14px;">Details</strong></a>
				<br></br>
			</div>
		{{/each}} 
		
	</div>